@tailwind base;
@tailwind components;
@tailwind utilities;

.use-container {
  /* border: solid; */
  /* background-color: rgb(0 0 0 / 53%); */
  /* border-width: 1px; */
  /* border-color: transparent; */
  /* border-radius: 1.25rem; */
  /* box-shadow: 3px 5px 10px 10px  rgb(0 0 0 / 37%); */
}

.use-text-effect {
  background: linear-gradient(
    85.6deg,
    #2d83ec,
    #1ac9ff 20.22%,
    #fff 62.73%,
    #fff 86.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.use-slider {
  user-select: none;
}

.slide {
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-73%, 0, 0);
  }
}

@media screen and (max-width: 1092px) {
  .use-container {
    border-radius: 1rem;
  }

  .use-text-head {
    font-size: 2.5rem;
    border-radius: 16px;
  }
}

@media screen and (max-width: 768px) {
  .use-container {
    width: 100%;
    border-radius: 10px;
  }

  .use-text-head {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0 10px;
  }

  .slide {
    gap: 1.5rem;
  }

  .use-text {
    gap: 1rem;
    font-size: 0.9rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.abril {
  font-family: "Abril Fatface";
}

.card .box:nth-child(1)::before {
  content: " ";
  position: absolute;
  top: 53px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  z-index: 10;
  border-bottom-left-radius: 20px;
  box-shadow: -6px 6px #fbfbfb;
}

.card .box:nth-child(1)::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 34px;
  width: 20px;
  height: 20px;
  background: transparent;
  z-index: 10;
  border-bottom-left-radius: 20px;
  box-shadow: -4px 6px #fbfbfb;
}

.card .box:nth-child(2)::before {
  content: " ";
  position: absolute;
  top: 72px;
  left: -1px;
  background: transparent;
  width: 20px;
  height: 20px;
  z-index: 10;
  border-top-left-radius: 20px;
  box-shadow: -6px -6px #fbfbfb;
}

.card .box:nth-child(2)::after {
  content: " ";
  position: absolute;
  top: -1px;
  left: 49px;
  background: transparent;
  width: 20px;
  height: 20px;
  z-index: 10;
  border-top-left-radius: 20px;
  box-shadow: -6px -6px #fbfbfb;
}

.btn {
  box-shadow: 0 0 0 4px #fbfbfb;
}

@media screen and (max-width: 640px) {
  .card .box:nth-child(1)::before {
    top: 51px;
    width: 15px;
  }

  .card .box:nth-child(1)::after {
    bottom: 0px;
    left: 24px;
    width: 15px;
    height: 10px;
  }

  .card .box:nth-child(2)::before {
    top: 56px;
    left: 0px;
    box-shadow: -3px -4px #fbfbfb;
  }

  .card .box:nth-child(2)::after {
    left: 39px;
    box-shadow: -8px -8px #fbfbfb;
  }
}
